language: rust
rust: nightly
os:
  - linux
  - osx
cache: cargo
script:
  - (cd arthas && cargo build)
  - (cd arthas && cargo test)
  - (cd arthas && cargo doc)
  - (cd arthas_plugin && cargo build)
