language: rust
rust:
  - stable
  - beta
os:
  - linux
  - osx
cache: cargo
script:
  - (cd arthas && cargo build)
  - (cd arthas && cargo test)
  - (cd arthas && cargo doc)
  - (cd arthas_derive && cargo build)
  - (cd arthas_derive && cargo doc)
